<mat-toolbar color="primary">
  <a style="text-decoration: none; cursor: pointer; color: #fff" routerLink="/"
    >Anonymous</a
  >
  <span class="example-spacer"></span>
  <button mat-button *ngIf="user" routerLink="/profile">Profile</button>
  <button mat-button *ngIf="!user" routerLink="/login">Login</button>
  <button mat-button *ngIf="user" (click)="onLogout()">Logout</button>
  <button mat-button *ngIf="!user" routerLink="/signup">Signup</button>
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
