<div class="wrapper">
  <!-- rgb(237, 237, 237); -->

  <div class="card">
    <mat-card>
      <div>
        <!-- <h1 class="">Login</h1> -->
        <div class="card-body">
          <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <h1>Login</h1>
            <p class="text-muted" style="text-align: center">
              Sign In to your account
            </p>

            <!-- <div
              class="alert alert-warning alert-dismissible fade show"
              role="alert"
            >
              Invalid username or password
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div> -->

            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input
                type="text"
                matInput
                formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="lanre"
              />
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <!-- <mat-error
                *ngIf="
                  form.get('email')?.hasError('email') &&
                  !form.get('email')?.hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error> -->
              <mat-error *ngIf="form.get('email')?.hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <div style="display: block"></div>

            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                type="button"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('password')?.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  form.get('password')?.hasError('minlength') &&
                  !form.get('password')?.hasError('required')
                "
              >
                Minimum length of password is 3
              </mat-error>
            </mat-form-field>

            <!-- <button
              mat-raised-button
              color="primary"
              [disabled]="form.invalid"
            >
              Submit
            </button> -->
            <div style="display: block"></div>

            <!-- <mat-spinner-button [options]="spinnerButtonOptions">
            </mat-spinner-button> -->

            <div class="row">
              <div class="col-6">
                <!-- <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-primary px-4"
                >
                  Submit
                </button> -->
                <mat-spinner-button [options]="spinnerButtonOptions">
                </mat-spinner-button>
              </div>
            </div>

            <!-- <div>
              <button class="btn btn-primary" *ngIf="!loading" type="submit">
                Submit
              </button>
              <button
                class="btn btn-primary"
                *ngIf="loading"
                type="button"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Loading...
              </button>
            </div> -->
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
