<div class="wrapper">
  <!-- rgb(237, 237, 237); -->

  <div class="card">
    <mat-card>
      <div>
        <h1 class="">Welcome {{ username }}</h1>
        <div class="profile-link">
          <h4>{{ profileLink }}</h4>

          <button mat-flat-button [cdkCopyToClipboard]="profileLink">
            Copy to clipboard
          </button>
        </div>

        <p class="about">
          Share your profile link ❤️ to get responses from your friend. Go to
          "View Messages" to check out the responses. 👌
        </p>
      </div>

      <button mat-raised-button routerLink="/my-message">View Message</button>
      <button mat-raised-button>Share my profile</button>
    </mat-card>
  </div>
</div>
