<div class="wrapper">
  <!-- rgb(237, 237, 237); -->

  <div class="card">
    <mat-card>
      <div>
        <h1 class="">Welcome {{ username }}</h1>
        <div class="profile-link">
          <h4>{{ profileLink }}</h4>

          <button mat-flat-button [cdkCopyToClipboard]="profileLink">
            Copy to clipboard
          </button>

          <a
            href=""
            data-action="share/whatsapp/share"
            target="_blank"
            mat-raised-button
            (click)="onClick()"
            class="mobileShow"
            >Share my profile to whatsapp</a
          >
        </div>

        <p class="about">
          Share your profile link ❤️ to get responses from your friend. Go to
          "View Messages" to check out the responses. 👌
        </p>
      </div>

      <div style="text-align: center">
        <button mat-raised-button routerLink="/my-message">View Message</button>
      </div>
    </mat-card>
  </div>
</div>
