<div class="wrapper">
  <!-- rgb(237, 237, 237); -->

  <div class="card">
    <mat-card>
      <div>
        <h1 class="">Welcome to Anonymous message</h1>
        <h3>Receive anonymous messages</h3>
        <p class="about">
          AnonyMsg is an interactive anonymous messaging app as a dare game.
          <br />
          On registering you get a Link that you can share with your friends
          <br />
          to recieve anonymous messages easily for free!
        </p>
        <br />
        <div style="text-align: center">
          <button mat-raised-button color="primary">Register Now</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
